build/
bin/
tmp.*
tfc.dSYM/*
tfc
test.sh
*.graffle
*.sam
*.aln
test*
*.fq
*.fastq.gz
*.fastq
art_illumina_linux
img/*
transcript.fa
genes.sorted.gtf
tfc.res.txt
simulation.sh
tfc.log.txt
tfc.result.txt