tmp.*
tfc.dSYM/*
tfc
test.sh
*.graffle
*.sam
*.aln
test*
*.fq
*.fastq.gz
*.fastq
art_illumina_linux
transcript.fa
transcript_simulated.fa
genes.sorted.gtf
tfc.res.txt
simulation.sh
tfc.log.txt
tfc.result.txt
transcript_simu.fa
art_illumina
art_illumina_linux
eval.py	
simu_fuse_transpt.py
reads*
test.sh
transcript.fa
eval.py
files.txt